<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Veículos</h1>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Modelo</label>
        <input pInputText type="text" name="modelo" [(ngModel)]="filtro.modelo">
      </div>
      <div class="ui-g-4 ui-md-4 ui-fluid">
        <button pButton type="submit" label="Pesquisar"> </button>
      </div>
    </form>
  </div>

  <div class="ui g">
    <div class="ui-g-12">
      <p-dataTable [value]="veiculos" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true"
      emptyMessage="Nenhum veículo encontrado" [lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <p-column field="modelo" header="Modelo" styleClass="col-modelo"></p-column>
        <p-column field="observacoes" header="Observações"></p-column>
        <p-column field="placa" header="Placa" styleClass="col-placa"></p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-valor="rowData" pTemplate="body">
            <span>{{valor.valor | currency:'BRL'}}</span>
          </ng-template>
        </p-column>
        <p-column field="locado" header="Locado" styleClass="col-locado">
          <ng-template let-loc="rowData" pTemplate="body">
            {{ loc.locado ? 'Locado' : 'Disponível' }}
          </ng-template>
        </p-column>
        <p-column field="dataDataEntrega" header="Entrega" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            {{lanc.manutencao | date:'dd/MM/yyyy'}}
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template let-vei="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/veiculos', vei.codigo]"></a>
            <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(vei)"></button>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Veículo" routerLink="/veiculos/novo"></a>
    </div>

  </div>
</div>
