<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Veículo</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="cambios" name="cambio" [(ngModel)]="veiculo.cambio"
            #tipo></p-selectButton>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Modelo</label>
        <input pInputText type="text" name="modelo"
           [(ngModel)]="veiculo.modelo"
          #modelo="ngModel" required minlength="5">
          <app-message [control]="modelo" error="required"
          text="Informe o modelo"></app-message>
        <app-message [control]="modelo" error="minlength"
          text="Mínimo de {{ modelo.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Placa</label>
        <p-inputMask name="placa" mask="aaa 9999"
          ngModel #placa="ngModel"  [(ngModel)]="veiculo.placa" required>
        </p-inputMask>
        <app-message [control]="placa" error="required"
        text="Informe a placa"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2  ui-fluid">
        <label>Valor Seguro</label>
        <input pInputText type="text" placeholder="R$ 0,00" name="valor" currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: 'false'}"
          ngModel #valor="ngModel"  [(ngModel)]="veiculo.valor" required>

      </div>

      <div class="ui-g-12 ui-md-3  ui-fluid">
        <label>Manutenção</label>
        <p-calendar dateFormat="dd/mm/yy" name="manutencao"
        [inline]="false" [readonlyInput]="false" [showIcon]="false"
        [(ngModel)]="veiculo.manutencao"
        #manutencao="ngModel" required></p-calendar>
        <app-message [control]="manutencao" error="required" text="Informe uma data para manutenção"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Marca</label>
          <p-dropdown [options]="marcas" placeholder="Selecione" [filter]="true"
            [autoWidth]="false"  name="marca" ngModel #marca required
            [(ngModel)]="veiculo.marca"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"
          [autoWidth]="false" name="categoria" ngModel #categoria required
          [(ngModel)]="veiculo.categoria">
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Tipo veículo</label>
        <p-dropdown [options]="tipos" placeholder="Selecione"
          [autoWidth]="false"  name="tipo"
          name="tipo" ngModel #marca required
          [(ngModel)]="veiculo.tipo" ngModel #tipo required>
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button pButton type="button" label="Novo" class="ui-button-info"></button>
          <a routerLink="/veiculos">Voltar para a pesquisa</a>
        </div>

    </div>
  </form>
</div>
